body
{
    background-color: honeydew;
    font-family: sans-serif;
}

button{

    font-size:17px;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    border-radius: 25px;
    cursor: pointer;

    height: 5vh;
    width: 15vw;
}

button:hover {
    background-color: black;
    color: white;
    transition-duration: 0.5s;
}

.vl {
  border-left: 2px solid black;
  height: 200px;
  width: 2px;
}

#logoutBtn{
    border: 2px solid rgb(228, 84, 84);
}

#logoutBtn:hover {
    background-color: rgb(228, 84, 84);
    color: white;
    transition-duration: 0.5s;
}

#profileContainer{
    margin-bottom:50px;
    padding: 10px;
    gap: 10px;
}

/* Profile Page Elements */
/* Containers */

#profileContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#collectionContainer{
    grid-row: 3;
    grid-column: 1 / -1;
    justify-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(218, 218, 218);
    padding: 10px;
}

#bookDisplayContainer{
    display: grid;
    grid-row: 2;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    width: 80%;
}

.bookContainer{
    background-image: linear-gradient(rgb(166, 255, 107), rgb(134, 238, 181));
    width: 1fr;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 5px rgb(218, 218, 218);
    font-weight: bold;
}

#profileHeader{
    grid-row: 1;
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: start;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(154, 219, 154);
}

#profileDetailsContainer{
    grid-row: 2;
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: 1fr auto 1fr;

    background-color: rgb(255, 255, 255);
    width: auto;
    justify-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(218, 218, 218);
}

/* Header Elements */
#username{
    font-weight: bold;
    font-size:x-large;
    text-decoration: underline;
}

/* Profile Detail Elements */
#profileDetailsContainer h2{
    grid-row: 1;
    text-decoration: underline;
    width: 100%
}
#profileDetailsContainer p{
    grid-row: 2;
    width: 100%
}

#profileDetailsContainer .vl{
    grid-column: 2;
    grid-row: 1 / -1;
    width: 1%;
}
/* Book Display Elements */
#bookDisplayContainer img{
    box-shadow: 1px 1px 5px rgb(235, 255, 235);
    width: 40%;
}

#bookDisplayContainer img:hover{
    box-shadow: 2px 2px 20px rgb(236, 255, 236);
    transform: scale(1.01);
}

